<<<<<<< HEAD
#container {
  text-align: center;
=======
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Fond global */
ion-content {
  --background: linear-gradient(to bottom right, #3880ff, white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.menu-card {
  text-align: center;
  border-radius: 18px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 15px;
  --background: transparent;
}
>>>>>>> connexion

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.position{
  position:absolute;
  top:20px;
  left:30px;
  width:100px;
  height:auto;
  object-fit: cover;
  border-radius: 50%;
  }
.droite{
  position:absolute;
  top:20px;
  right:30px;
  width:100px;
  height:auto;
  object-fit: cover;
  border-radius: 50%;
  }
.cool{
  color: white;
  padding:25px;
  }


home{
  width:300px;
  height:200px;
  }
.person{
  width:300px;
  height:200px;
  }
.bien{
  color:white;
  }
.rectangle {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.image{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  animation: scroll-left 6s linear infinite;
  }
@keyframes image {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-300%);
  }
}
ion-content {
  --background:#007BFF;

<<<<<<< HEAD
  }
.icon-container {
  padding: 75px;
  border-radius: 10px;
  box-shadow: 0 10px 29px rgba(0, 0, 0, 0.1);
  height: 110px;
  display: flex;
  justify-content: center;
  transition: transform 0.2;
  background: white;
  }
.reservation-color {
  background: #e3f2fd;
  color:#2196f3;
  }
.home-colis {

  }

.icon-container:active{
  transform: scale(0.95);
  }
.scroll-text {
  display: inline-block;
  white-space: nowrap;
  //overflow: hidden;
  width: 100%;
  text-align: center;
  animation: scroll-left 6s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-300%);
  }
}
.marque-title{
  color: white;
  }
.cadre{
  background: linear-gradient(135deg, #00f5d4, #00bbf9, #9b5de5);
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  padding-top:10px;
  }


#container strong {
=======
p {
  color: white;
}

.menu-card h2 {
  color: #3880ff;
>>>>>>> connexion
  font-size: 20px;
  line-height: 26px;
}

<<<<<<< HEAD
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
=======
.menu-card p {
  font-size: 14px;
  color: white;
}
>>>>>>> connexion
